* {
    box-sizing: border-box;
}

:root {
    --color-accent: orange;
    --text-color-main: black;
    --text-color-light: white;
}

html{
    font-size: 62.5%;
    font-family: 'Playfair', serif;
}

h1,
h2,
h3,
h4,
p,
a,
span {
    font-size: 2rem;
}

h1 {
    font-size: 8rem;
    line-height: 1.2em;
}

h2 {
    font-size: 5rem;
    margin-top: 0.5em;
}

h4 {
    font-size: 2.5rem;
    margin-bottom: 0;
    color: var(--color-accent);
}

p {
    line-height: 1.7em;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    display: block;
    width: 100%;
}

ul {
    list-style: none;
    padding: 0;
}

.content,
.navbar {
    /* border: 1px solid red; */
    padding: 0 7%;
}

.content {
    padding: 5vh 7%;
}

.content__left {
    width: 50%;
}

.center {
    display: flex;
    align-items: center;
    flex-direction: column;
}

header {
    position: fixed;
}

h4,
.navbar,
.btn {
    font-family: 'Roboto', sans-serif;
}

.btn {
    padding: 0.5em 1em;
    border-radius: 10px;
    background-color: var(--color-accent);
    color: var(--text-color-light);
}

/* NAV */

.navbar {
    width: 100%;
}
.navbar__list {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.navbar__list > li {
    margin: 1em 2em;
}

.navbar__split {
    margin-left: 3em;
}


/* FIRST SECTION */
.welcome {
    background-image: url('../images/fruit.jpg');
    background-size: cover;
    /* padding-top: 10vh; */
    
}

.welcome h1 {
    margin-top: 2em;
}

.welcome__form {
    font-size: 2rem;
    margin: 1em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.welcome__form > input {
    width: 70%;
    border-radius: 1em 0 0 1em;
    border: none;
    height: 4rem;
    padding-left: 3%;
    margin-right: .4em;
    flex-grow: 1;
}

.welcome__socials {
    font-size: 2rem;
    margin: 2em 0;
}

.welcome__socials a{
    margin: 1em;
    color: var(--color-accent);
    text-decoration: none;
    font-size: 2.3rem;
}

/* SECOND SECTION */
.about {
    display: flex;
    justify-content: center;
    background: 
    linear-gradient(
      rgba(255, 255, 255, 0.5), 
      rgba(255, 255, 255, 0.5)
    ),
    url('../images/pies.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.about__text {
    max-width: 50%;
    margin: auto;
}

.about .btn {
    position: relative;
    top: 1em;
}

/* THIRD SECTION */
.speciality {
    background: linear-gradient(rgba(231, 233, 232, 0.5), rgba(187, 191, 194, 0.8))
}
.speciality__nav {
    width: 45%;
}
.speciality__nav > ul{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid grey;
    padding: 1.5em;
}

.speciality__gallery {
    width: 80%;
    margin: 3em auto;
    display: flex;
    flex-wrap: wrap;

}

.speciality__item {
    width: calc(25% - 2em);
    height: 250px;
    margin: 1em;
}

.speciality__item > img {
    height: 100%;
}

/* FOURTH SECTION */
.hours {
    background: 
    linear-gradient(
      rgba(255, 255, 255, 0.4), 
      rgba(255, 255, 255, 0.4)
    ),
    url('../images/coffee.jpg');
    background-size: cover;
    background-position: top;
}

.hours__phone{
    width: 6em;
    height: 6em;
    margin: 1em 0 2em 0;
    border: 2px solid var(--color-accent);
    border-radius: 50%;
    padding: 1em;
}

.hours__call > a {
    color: inherit;
}

.hours__highlight {
    color: var(--color-accent);
}

.hours__open {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.hours__time {
    font-weight: bold;
}

.hours__img {
    width: 80%;
}

/* FIFTH SECTION */

.testimonials__review {
    text-align: center;
    width: 70%;
}

.testimonials__user {
    font-family: 'Roboto', sans-serif;
}
.testimonials__user-img {
    width: 12%;
    margin: 3em 0;
}
.testimonials__user-img > img{
    border-radius: 50%;
}

.testimonials__name {
    font-size: 2rem;
    font-weight: bold;
}

.testimonials__job {
    font-size: 1.5rem;
    color: grey;
}

.testimonials__stars {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-star {
    color: var(--color-accent);
    margin: .3em;
    margin-top: 1.2em;
}


/* MEDIA QUERIES */

@media screen and (max-width: 975px) {
    .html {
        font-size: 1rem;
    }
    .speciality__gallery{
        /* flex-direction: column; */
    }
    .speciality__item{
        width: 100%;
        height: auto;
    }
    .speciality__nav{
        width: 100%;
    }
}